<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>TripHunter</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/content/vendor/fontawesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/content/css/main.css">
</head>
<body>
    <div class="pag1">
        <div class="container">
            <h1 class="ir">TripHunter</h1>
            <h2 class="text-right">
            	Seja um consultor <br />
            	de viagens independente <br />
            	e ganhe uma renda <br />
            	extra ajudando viajantes <br />
            	parecidos com você.<br />
            </h2>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg" id="btnMore">Quero saber mais <i class="fa fa-arrow-down"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="pag2" id="divMore">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>
                        COMPARTILHE SUAS EXPERIÊNCIAS<br />
                        <span>E AJUDE A REALIZAR SONHOS</span>
                    </h2>
                    <p>Aqui, você encontrará pedidos de consultoria e cotações de viagens de diversas pessoas em um só lugar. Como um “curador de experiências”, você orientará os viajantes nos destinos que você conhece e receberá 5% das vendas realizadas.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <i class="fa fa-5x fa-edit"></i>
                    <h4><span>1.</span> Cadastre-se</h4>
                    <p>Torne-se um consultor de viagens certificado, de forma fácil e sem burocracia. </p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <i class="fa fa-5x fa-search"></i>
                    <h4><span>2.</span> Veja os pedidos de consultoria</h4>
                    <p>Veja os desejos das pessoas que querem ir para os lugares que você conhece no Triphunter.</p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <i class="fa fa-5x fa-arrows-h"></i>
                    <h4><span>3.</span> Oriente viajantes</h4>
                    <p>Sugira roteiros e dê dicas para as pessoas que você escolher, faça cotações on-line com nossas operadoras parceiras e envie sua proposta ao viajante.</p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <i class="fa fa-5x fa-smile-o"></i>
                    <h4 style="margin-top: -5px; margin-bottom: 25px;"><span>4.</span> Ganhe <span class="text-big">5%</span> das viagens vendidas</h4>
                    <p>Se o viajante escolher o seu roteiro, você ganha uma comissão pela venda. Tudo sem precisar sair de casa ou do seu emprego.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Gostou? então <span><a href="#" id="btnMore2">SAIBA COMO PARTICIPAR</a></span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="pag3">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-pull-1 col-sm-push-1 col-md-10 col-md-pull-1 col-md-push-1 col-lg-10 col-lg-pull-1 col-lg-push-1">
                    <h2>Faça parte do nosso programa Beta, e seja um dos primeiros consultores de viagens a fornecer serviços pelo Triphunter.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-pull-2 col-sm-push-2 col-md-8 col-md-pull-2 col-md-push-2 col-lg-8 col-lg-pull-2 col-lg-push-2">
                    <fieldset>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="seu nome completo" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="e-mail" />
                        </div>
                        <div class="text-center">
                            <button type="button" id="btnSubmitEmail" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Quero participar</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
            <div class="row" style="background:rgba(25,30,39,0.7);width:100%;margin:0 0 0 0">
                <div class="col-sm-10 col-sm-pull-1 col-sm-push-1 col-md-10 col-md-pull-1 col-md-push-1 col-lg-10 col-lg-pull-1 col-lg-push-1">
                    <p>O Triphunter é uma plataforma que reúne pacotes de viagens de diversas operadoras e um canal para pessoas que querem experiências personalizadas e desejam montar roteiros de viagens.</p>
                    <h2><a href="http://www.triphunter.com.br" target="_BLANK">Acesse o Triphunter</a></h2>
                    <p><br/></p>
                </div>
            </div>
        <footer class="text-center">
            TRIPHUNTER © Copyright 2015 - <span>Todos os direitos reservados</span>
        </footer>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                </div>
                <div class="modal-body">
                    <p>Aguarde...</p>
                </div>
                <div class="modal-footer">
                    <div class="text-left">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Convite solicitado com sucesso!</h4>
                </div>
                <div class="modal-body">
                    <p>Obrigado por participar, <span id="nameSubscription">Fulano</span>!</p>
                    <p>Você receberá um e-mail com mais orientações em breve.</p>
                    <p>É importante responder à essas orientações para fazer parte do programa. Boa sorte!</p>
                    <p>Acesse o TripHunter: <a href="http://www.triphunter.com.br">triphunter.com.br</a></p>
                </div>
                <div class="modal-footer">
                    <div class="text-left">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Erro!</h4>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <div class="text-left">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/content/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="/content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/content/js/main.js"></script>
</body>
</html>